<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"

      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getId()}">VALUE</p>

<a th:href="@{/persons/{id}/edit(id=${person.getId()})}">Edit</a>

<form th:method="DELETE" th:action="@{/persons/{id}(id=${person.getId()})}">
    <label>
        <input th:type="submit" value="Delete"/>
    </label>
</form>
</body>
</html>